body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

navbar {
    background-color: #f9faf8;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 0;
    column-gap: 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    margin-left: 50px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 50px;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 20px;
    color: #e5e7eb;
}

li>a {
    color: #1f2937;
    text-decoration: none;
}

.homepage {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f9faf8;
    font-size: 70px;
    margin: 0;
}

p {
    color: #e5e7eb;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

#search-form {
    display: flex;
    flex-direction: row;
}

.search-bar>input {
    box-sizing: content-box;
    width: 800px;
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 2px;
    margin-right: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.select-site>select {
    box-sizing: content-box;
    width: 90px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
    margin-right: 1px;
    text-align: center;
}

.submit-button>input {
    box-sizing: content-box;
    width: 60px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    padding-left: 7px;
    border: 2px;
    background-color: #2ea66c;
    color: #e5e7eb;
    text-align: center;
    border: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}