<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Review API</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <navbar>
    <div class="logo"><a href="#">Product Review API</a></div>
    <div class="links">
      <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">API Key</a></li>
      </ul>
    </div>
  </navbar>
  <div class="homepage">
    <h1>Product Review API</h1>
    <p>An API to easily get review of a product on multiple websites like Tiki, Shopee, Lazada, Sendo</p>
    <form id="search-form" action="/review" method="get">
      <div class="search-bar">
        <input placeholder="Type an url" name="url">
      </div>
      <div class="select-site">
        <select name="site">
          <option value="tiki">Tiki</option>
          <option value="sendo">Sendo</option>
          <option value="lazada">Lazada</option>
        </select>
      </div>
      <div class="submit-button">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>

</body>
</html>
